* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: $black;
  font: inherit;
  vertical-align: baseline;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  @include size(p);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: $black;
  font-family: $font-body;
  line-height: $base-line-height;
}

header {
  height: 100vh;
  background-color: $white;
  // background-image: url(/images/ailab-bg-yessowish-letters.jpg);
  // background-image: url(/images/ailab-bg-more-patterns-brighter-contrast.jpg);
  // background-image: url(/images/more-letters-pattern.jpg);
  // background-image: url(/images/tiny-pattern.jpg);
  background-image: url(/images/sunny-bg.jpg);

  div {
    z-index: 101;
  }

  img {
    max-height: $vertical-rhythm * 6;
  }

  h1 {
    font-family: $font-body;
  }
}

.i18n {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

	li {
		padding-left: 1.0rem;
    list-style: none;
    // font-family: $font-body;

		a {
			background-image: none;
      text-transform: uppercase;
		}
	}			
}


footer {
  height: $vertical-rhythm * 6;
  background-color: $black;

  div,
  a {
    color: $white;
  }
}
